In [1]:
cd /home/celso/Documents/Etudes/recommendationSystem

/home/celso/Documents/Etudes/recommendationSystem

In [10]:
#import the library
import numpy as np
import pandas as pd
from apyori import apriori

#load the data
store_data = pd.read_csv('./data/groceries - groceries.csv', sep=',')
store_data.head()

transactions = []

# Add all the items from each row in one list( Neglect the 1st columns where all the items are in number (0-9))
for i in range(0, 9835):
    transactions.append([str(store_data.values[i,u]) for u in range(1, 33)])

In [13]:
#applying apirori
association_rules = apriori(transactions, min_support=0.003, min_confidence=0.2, min_lift=4, min_length=1)

In [14]:
rules = list(association_rules)

In [15]:
len(rules)

116

In [16]:
best_rules = []

for i in range(0, len(rules)):
    for j in range (0, len(rules[i][2])):
        best_rules.append({"lh": rules[i][2][j].items_base,"rh": rules[i][2][j].items_add, "lift":rules[i][2][j].lift })
len(best_rules)

316

In [17]:
best_rules[0]["lift"]

def takeLift(elem):
        return elem["lift"]

sorted_rules = sorted(best_rules,key=takeLift, reverse=True)

In [18]:
df = pd.DataFrame(sorted_rules)

In [9]:
df.head(55)

,lh,rh,lift
0,"(citrus fruit, whole milk, other vegetables)","(root vegetables, tropical fruit)",11.506831
1,(Instant food products),(hamburger meat),11.421438
2,(Instant food products),"(hamburger meat, nan)",11.421438
3,"(Instant food products, nan)",(hamburger meat),11.421438
4,"(citrus fruit, whole milk, other vegetables, nan)","(root vegetables, tropical fruit)",11.223325
5,"(citrus fruit, whole milk, other vegetables)","(root vegetables, nan, tropical fruit)",11.189700
6,"(citrus fruit, root vegetables, whole milk)","(other vegetables, tropical fruit)",9.596632
7,"(citrus fruit, root vegetables, whole milk, nan)","(other vegetables, tropical fruit)",9.391412
8,"(citrus fruit, root vegetables, whole milk)","(other vegetables, nan, tropical fruit)",9.313447
9,"(root vegetables, whole milk, tropical fruit)","(citrus fruit, other vegetables)",9.097786
10,"(whole milk, root vegetables, tropical fruit, ...","(citrus fruit, other vegetables)",8.879559
11,"(root vegetables, whole milk, tropical fruit)","(citrus fruit, other vegetables, nan)",8.835420
12,(flour),(sugar),8.463112
13,"(root vegetables, other vegetables, tropical f...","(citrus fruit, whole milk)",8.399036
14,"(flour, nan)",(sugar),8.339163
15,(flour),"(nan, sugar)",8.315367
16,"(root vegetables, other vegetables, tropical f...","(citrus fruit, whole milk)",8.195833
17,"(root vegetables, other vegetables, tropical f...","(citrus fruit, whole milk, nan)",8.155283
18,"(whole milk, other vegetables, tropical fruit)","(yogurt, root vegetables)",8.066765
19,"(whole milk, other vegetables, tropical fruit,...","(yogurt, root vegetables)",7.883210
20,"(whole milk, other vegetables, tropical fruit)","(yogurt, root vegetables, nan)",7.867260
21,"(citrus fruit, root vegetables, tropical fruit)","(whole milk, other vegetables)",7.397249
22,"(root vegetables, tropical fruit)","(citrus fruit, other vegetables)",7.361026
23,"(citrus fruit, whole milk, tropical fruit)","(root vegetables, other vegetables)",7.351232
24,"(citrus fruit, root vegetables, tropical fruit...","(whole milk, other vegetables)",7.288785
25,"(root vegetables, tropical fruit, nan)","(citrus fruit, other vegetables)",7.228651
26,"(root vegetables, tropical fruit)","(citrus fruit, other vegetables, nan)",7.219150
27,"(citrus fruit, whole milk, tropical fruit, nan)","(root vegetables, other vegetables)",7.194938
28,"(citrus fruit, root vegetables, other vegetables)","(whole milk, tropical fruit)",7.185261
29,"(citrus fruit, root vegetables, tropical fruit)","(whole milk, other vegetables, nan)",7.168367
30,"(citrus fruit, whole milk, tropical fruit)","(root vegetables, other vegetables, nan)",7.129395
31,"(citrus fruit, other vegetables, tropical fruit)","(root vegetables, whole milk)",7.121984
32,"(butter, tropical fruit)","(yogurt, other vegetables)",7.050853
33,"(citrus fruit, root vegetables)","(other vegetables, tropical fruit)",7.045358
34,"(citrus fruit, root vegetables, other vegetabl...","(whole milk, tropical fruit)",7.022325
35,"(citrus fruit, other vegetables, tropical frui...","(root vegetables, whole milk)",6.970563
36,"(citrus fruit, root vegetables, other vegetables)","(whole milk, nan, tropical fruit)",6.970234
37,"(citrus fruit, root vegetables, nan)","(other vegetables, tropical fruit)",6.925036
38,"(citrus fruit, other vegetables, tropical fruit)","(root vegetables, whole milk, nan)",6.906601
39,"(citrus fruit, root vegetables)","(other vegetables, nan, tropical fruit)",6.904797
40,"(curd, tropical fruit)","(yogurt, whole milk)",6.892329
41,"(root vegetables, whole milk, tropical fruit)","(yogurt, other vegetables)",6.831759
42,"(yogurt, root vegetables, whole milk)","(other vegetables, tropical fruit)",6.819172
43,"(curd, tropical fruit, nan)","(yogurt, whole milk)",6.782759
44,"(curd, tropical fruit)","(yogurt, whole milk, nan)",6.727813
45,"(whole milk, root vegetables, tropical fruit, ...","(yogurt, other vegetables)",6.693288
46,"(yogurt, root vegetables, whole milk, nan)","(other vegetables, tropical fruit)",6.670989
47,"(root vegetables, whole milk, tropical fruit)","(yogurt, other vegetables, nan)",6.652145
48,"(yogurt, root vegetables, whole milk)","(other vegetables, nan, tropical fruit)",6.643158
49,"(yogurt, root vegetables, other vegetables)","(whole milk, tropical fruit)",6.515464
50,"(yogurt, root vegetables, other vegetables, nan)","(whole milk, tropical fruit)",6.379541
51,"(yogurt, root vegetables, other vegetables)","(whole milk, nan, tropical fruit)",6.344559
52,"(pip fruit, root vegetables)","(other vegetables, nan, tropical fruit)",6.026348
53,"(butter, tropical fruit)","(yogurt, whole milk)",6.010500
54,"(pip fruit, root vegetables)","(other vegetables, tropical fruit)",6.009276

In [19]:
df["lh"].str.contains('nan', regex=False)

0      False
1      False
2      False
3       True
4       True
       ...
311    False
312     True
313     True
314    False
315     True
Name: lh, Length: 316, dtype: bool

In [20]:
firstStep = df[~df.lh.str.contains('nan', regex=False)]

In [21]:
secondStep = firstStep[~firstStep.rh.str.contains('nan', regex=False)]

In [22]:
secondStep

,lh,rh,lift
0,"(citrus fruit, whole milk, other vegetables)","(root vegetables, tropical fruit)",11.506831
1,(Instant food products),(hamburger meat),11.421438
6,"(citrus fruit, root vegetables, whole milk)","(tropical fruit, other vegetables)",9.596632
9,"(root vegetables, tropical fruit, whole milk)","(citrus fruit, other vegetables)",9.097786
12,(flour),(sugar),8.463112
...,...,...,...
304,"(butter, other vegetables)",(whipped/sour cream),4.036397
305,"(whole milk, other vegetables, domestic eggs)",(whipped/sour cream),4.035227
306,"(yogurt, tropical fruit, other vegetables)",(whipped/sour cream),4.035227
307,"(yogurt, pip fruit)",(curd),4.029521
309,"(yogurt, tropical fruit, whole milk)",(whipped/sour cream),4.025941

In [43]:
secondStep.to_csv('rules.csv')

In [44]:
rules = pd.read_csv('./rules.csv')

In [45]:
rules =  rules.drop(columns = ["Unnamed: 0"])

In [46]:
rules["rh"]= rules["rh"].str.extract(r'{(.*)}')

In [47]:
rules["lh"]= rules["lh"].str.extract(r'{(.*)}')

In [49]:
rules["rh"] = rules.rh.str.replace("'","")

In [50]:
rules["lh"] = rules.lh.str.replace("'","")

In [51]:
rules

,lh,rh,lift
0,"citrus fruit, whole milk, other vegetables","root vegetables, tropical fruit",11.506831
1,Instant food products,hamburger meat,11.421438
2,"citrus fruit, root vegetables, whole milk","tropical fruit, other vegetables",9.596632
3,"root vegetables, tropical fruit, whole milk","citrus fruit, other vegetables",9.097786
4,flour,sugar,8.463112
...,...,...,...
116,"butter, other vegetables",whipped/sour cream,4.036397
117,"whole milk, other vegetables, domestic eggs",whipped/sour cream,4.035227
118,"yogurt, tropical fruit, other vegetables",whipped/sour cream,4.035227
119,"yogurt, pip fruit",curd,4.029521
120,"yogurt, tropical fruit, whole milk",whipped/sour cream,4.025941

In [52]:
a= rules["rh"][rules["lh"].str.match(r'(?=.*cheese.*)')]

In [53]:
a

20                 white bread
48    yogurt, other vegetables
69          yogurt, whole milk
Name: rh, dtype: object

In [54]:
rules.to_csv('rules_clean.csv')